<mat-toolbar color="primary" class="mat-elevation-z2">
    <mat-toolbar-row>
      <span>COVID-19 TRACKER</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container">

    <!-- Mat Card start -->
    <div fxLayout="row" fxLayoutAlign="space-around center" >
      <mat-card class="example-card mat-elevation-z3">
          <mat-card-header>
            <mat-card-title>Confirmed Cases</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{this.confirmedData}}
          </mat-card-content>
      </mat-card>
      
      <mat-card class="example-card mat-elevation-z3">
          <mat-card-header>
            <mat-card-title>Death Cases</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{this.deathsData}}
          </mat-card-content>
      </mat-card>

      <mat-card class="example-card mat-elevation-z3">
          <mat-card-header>
            <mat-card-title>Recovered Cases</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{this.recoveredData}}
          </mat-card-content>
      </mat-card>
    </div>
    <!-- Mat card end -->

</div>




<app-bar-chart [data]="deathsData | async"></app-bar-chart>